body {
  background-image: linear-gradient(to bottom, black 0%, #29323c 100%);
}

h1 {
  background-image: linear-gradient(
    to right,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-transform: capitalize;
  margin-top: -20px;
}

h2 {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  text-transform: capitalize;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-body {
  opacity: 0.5;
}

.card-body:hover {
  color: blue;
  opacity: 1;
  transform: all 200ms ease-in-out;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  text-align: center;
}

.humid {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 26px;
  padding-top: 24px;
}

.humidityDescription {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.speed {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 26px;
  padding-top: 24px;
}

.wind {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.wrapper {
  border: 1px solid #fbed96;
  border-radius: 10px;
  padding: 20px;
}

#cityInput {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 25px;
  margin: 5px auto;
  padding: 10px;
}

#currentLocation {
  background: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px auto;
  padding: 10px;
}

#currentLocation:hover {
  color: white;
  background: black;
  transition: all 180ms ease-in;
}

#date-time {
  font-size: 25px;
}

#degrees {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: bolder;
  float: inline-start;
  padding-top: 35px;
}

#forecast3 {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 10px;
  padding-top: -100px;
  padding-bottom: 0;
  margin-top: -50px;
}

#forecast3 h3 {
  color: green;
}

#searchButton {
  background: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px auto;
  padding: 10px;
}

#searchButton:hover {
  color: white;
  background: black;
  transition: all 180ms ease-in;
}

#searchForm {
  text-align: center;
}

.temp {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

#weatherDescription {
  font-size: 28px;
}
